.participent {
  display: flex;
  align-items: center;
  background-color: ghostwhite;
  border: 1px solid lightgray;
  padding: 5px;
  width: 300px;
  margin-bottom: 5px;

  &__image {
    img {
      border-radius: 50%;
      width: 50px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
  }
}
